body{
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

ul, ol, li, h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}

button{
    padding:10px 15px;
}
.add-item{
    margin-right: 10px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.active {
    color: red;
}
.list{
    min-height: 20vh;
    display: flex;
    border: 1px solid black;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}
.list li {
    height: 200px;
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 20px auto;
}
.wrapper{
    margin-top: 60px;
    min-height: 30vh;
    padding: 5%;
    border: 1px solid black;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}